body {
    text-align: center;
    background-color: #2C3E50;
    color: #1ABC9C;
    font-family: 'Arial', sans-serif;
    margin: 190px;
    font-size: x-large;
  }
img{
    width: 120px;
    margin: 20px;
}
p{
    display: inline-block;
    position: relative;
    top: -170px;
    right: -120px;
}
h1{
    margin: 80px;
    position: relative;
    left: 55px;
}
@media (max-width: 600px) {
    body {
        font-size: large;
    }

    img {
        width: 80px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: larger;
    }

    img {
        width: 100px;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: x-large;
    }

    img {
        width: 120px;
    }
}
