body {
    text-align: center;
    background-color: #2C3E50;
    color: #1ABC9C;
    font-family: 'Arial', sans-serif;
    margin: 190px;
    padding: 20px;
    font-size: x-large;
}

h1 {
    margin: 20px 0;
}

.player {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

img {
    width: 120px;
    margin: 10px;
}

@media (max-width: 600px) {
    body {
        font-size: large;
    }

    img {
        width: 80px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: larger;
    }

    img {
        width: 100px;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: x-large;
    }

    img {
        width: 120px;
    }
}
